html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


header.primary{
background-color:#FF2129;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;







  /* Longform */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:60px;
  padding-left:40px;
  /* Shorthand */
  padding: 40px 40px 60px 40px;

}

header.primary h1{
font-family: 'Press Start 2P', cursive;

  font-size: 3.5em;
  margin:20px 0;
  color: #fff;
  text-align:center;
  
}
/* putting a image as the header using css*/
header.primary h1 a{
  text-decoration:none;
  width:700px;
  height:100px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("../img/SpaceX-Logo2.png");
  display:block;
  text-indent:105%;

}

header.primary h2{
  font-size:2em;
  /* Top / Left & Right / Bottom */
  margin: 20px auto 40px;
}

header.primary nav{
  width:80vw;
  margin:20px auto;
  max-width:1000px;
}

body {
 font-family: 'Oxanium', cursive;
  background-color:#ffff;
 padding: 0;
  margin:0;
}

/* The navigation bar */
header.primary navbar {
  overflow: hidden;
  background-color: #04B2D9;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

header.primary nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
 
}

/* Links inside the navbar */
.navbar a {
  display: block;
  color: #ffff;
  text-align: left;
  text-decoration: none;
  text-size: 2.5em;
  text-shadow: 2px 2px #000;
}

/* Change background on mouse-over */
#navbar :hover {
  background: #ddd;
  color: black;
}



.error {
    color: red;
    padding-left: 5px;
}

.MarsPhoto {
	display: none
}

table, th, td {
  border: 1px solid black;
}table.center{
  margin-left:auto;
  margin-right:auto;
}
table{
  margin: 30px;
  width:100%;
  border:3px solid #000;
  border-collapse: collapse;
  color:#000;

}
table caption{
  padding:20px;
  font-weight:bold;
  font-size: 1.5em;
  color:#04B2D9;
}
tr{
  background:#fff;
}

tr:hover{
  background:#FF2129;
}
th{
  background:#F2F2F2;
  color:#000;
  padding:10px;
}
td{ 
  border:3px solid #000;
  padding:10px;
  }
dd + dt {
  margin-top:20px;
}


.formlabel {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 5px;
}

.formcontainer {
    width: 1000px;
    padding: 11px;
}









@media screen and (max-width:680px){
  
header.primary nav ul{
  flex-direction: column;
}
header.primary h1 a{
  background-image: url("unnamed.png");
}
  
  header.primary nav ul li{
    margin-bottom:20px;
  }
  
}